header.w-100.vh-100.vh-75-ns.dt.ph3.ph4-m.ph6-l.pv5.pv6-ns.bg-coolred
    .dtc.v-mid.tl
        div.tj.ttu.bb.pb3.dib Lorem ipsum dolor sit amet.
        h1.f2.lh-title.normal.mw7-l.mt4 Lorem ipsum dolor sit amet.
            span.b Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            span Quia provident rerum veritatis laboriosam delectus!
            span.b  Laborum dignissimos minima officia repudiandae aspernatur. 🚀
        a(href="mailto:contactme@claudio.page").f7.link.dim.ba.bw1.ph4.pv3.mb2.dib.ttu.coolblue Contact me
article#resume.ph3.ph4-m.ph5-l.pv5.pv6-l
    header
        h1.f-6-l Lorem, ipsum dolor.
        h2.f4-l.normal Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime doloremque fugiat rem illo tenetur ipsa, officia sapiente laudantium ducimus debitis?
    section.pt6-l
        h1.mt6-l.mb4-l.fw5.ttu Experience
        each exp in public._data.experiences
            article.ml5-l.pl6-l
                header.pt3-ls
                    h1.f4= exp.title
                    h2.f5.fw4= exp.sub
                    h3.f7.fw4= exp.date
                p= exp.desc
        .tc
            a(href="#{public._data.resume}", target="_blank", rel="nofollow").mt6-l.mb4-l.fw5.ttu.link.underline-hover.coolblue Download my résumé
article#contacts.ph3.ph4-m.ph5-l.pv5.pv6-l
